	 -----
	 Release notes
	 -----
	 mprins
	 -----
	 2016-02-20
	 -----

~~ reference: http://maven.apache.org/doxia/references/apt-format.html

~~ Note that we're using eg. ${project.properties.get("jruby.version")} to work
~~     around a limitation getting pom properties with a dot.


${project.name} ${project.version} Release Notes

  These are the release notes for ${project.name} version ${project.version}.

%{toc|section=1|fromDepth=2|toDepth=2}

* ${project.version} Release Notes

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A${project.version}+is%3Aclosed}milestone ${project.version} }}.

  This release features Bourbon version ${project.properties.get("bourbon.version")}
  and Sass version ${project.properties.get("sass.version")}
  running on JRuby ${project.properties.get("jruby.version")}.
  Please check the {{{/${project.artifactId}/dependencies.html#provided}full dependencies}}
  to find out about the specific Sass and other transitive dependencies included in this release.

~~ ** New
~~ 
~~   * ...
~~   
~~   [] 
 
** Enhancements and Fixes
 
~~   * Update JRuby to ${project.properties.get("jruby.version")}, this plugin now requires Java 8
~~ 
~~  * Update Bourbon to version ${project.properties.get("bourbon.version")}, please check the
~~     {{{https://github.com/thoughtbot/bourbon/blob/master/CHANGELOG.md}Bourbon changelog}}
~~
~~  * Update SCSS-Lint to version 0.57.0, please check
~~     the {{{https://github.com/brigade/scss-lint/blob/master/CHANGELOG.md}SCSS-Lint changelog}}

~~  * Update Sass to version ${project.properties.get("sass.version")}, please check
~~     the {{{http://sass-lang.com/documentation/file.SASS_CHANGELOG.html}Sass changelog}}
~~     Note that Ruby Sass has now been deprecated, read the
~~     {{{http://sass.logdown.com/posts/7081811}blogpost:Ruby Sass is Deprecated}}.

~~  []
  
* 3.5.5 Release Notes

  This release features Bourbon version 5.1.0 and Sass version 3.5.7 running on JRuby 9.2.0.0.
  A complete list of issues can be found in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A$3.5.5+is%3Aclosed}milestone 3.5.5}}.

** Enhancements and Fixes

  * Update Bourbon to version 5.1.0, please check the
     {{{https://github.com/thoughtbot/bourbon/blob/master/CHANGELOG.md}Bourbon changelog}}
     
  * Update Sass to version 3.5.7, please check
     the {{{http://sass-lang.com/documentation/file.SASS_CHANGELOG.html}Sass changelog}}
     Note that Ruby Sass has now been deprecated, read the
     {{{http://sass.logdown.com/posts/7081811}blogpost:Ruby Sass is Deprecated}}.
     
  * Update Maven dependencies to version 4.5.4
  
  []
  
  
* 3.5.4 Release Notes

  This release features Bourbon version 5.0.0 and Sass version 3.5.6 running on JRuby 9.2.0.0.
  A complete list of issues can be found in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A$3.5.4+is%3Aclosed}milestone 3.5.4}}.

** Enhancements and Fixes
 
   * Update JRuby to 9.2.0.0, this plugin now requires Java 8
   
   []

* 3.5.3 Release Notes

  This release features Bourbon version 5.0.0 and Sass version 3.5.6 running on JRuby 9.1.16.0.
  A complete list of issues can be found in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A$3.5.3+is%3Aclosed}milestone 3.5.3}}.

** Enhancements and Fixes

  * Update Sass to version 3.5.6, please check the
    {{{http://sass-lang.com/documentation/file.SASS_CHANGELOG.html}Sass changelog}}.
    Note that Ruby Sass has now been deprecated, read the
    {{{http://sass.logdown.com/posts/7081811}blogpost:Ruby Sass is Deprecated}}.

  []

* 3.5.2 Release Notes

  This release features Bourbon version 5.0.0 and Sass version 3.5.5 running on JRuby 9.1.16.0. 
  A complete list of issues can be found in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A$3.5.2+is%3Aclosed}milestone 3.5.2}}.
  
** Enhancements and Fixes

  * Update JRuby to 9.1.16.0

  * Update Bourbon to version 5.0.0, please check the
    {{{https://github.com/thoughtbot/bourbon/blob/master/CHANGELOG.md}Bourbon changelog}}
  
  * Update SCSS-Lint to version 0.57.0, please check
    the {{{https://github.com/brigade/scss-lint/blob/master/CHANGELOG.md}SCSS-Lint changelog}}
  
  * Update Sass to version 3.5.5, please check
    the {{{http://sass-lang.com/documentation/file.SASS_CHANGELOG.html}Sass changelog}}


  * Use <<<sass-listen>>> instead of <<<listen>>> gem, fixes ({{{https://github.com/GeoDienstenCentrum/sass-maven-plugin/issues/170}#170}})

  []
  
  
* 3.5.1 Release Notes

  This release features Bourbon version 4.3.4 and Sass version 3.5.4 running on JRuby 9.1.15.0.

  A complete list of issues can be found in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A$3.5.1+is%3Aclosed}milestone 3.5.1}}.
  
** Enhancements and Fixes

  * Update Sass to version 3.5.4, please check
    the {{{http://sass-lang.com/documentation/file.SASS_CHANGELOG.html}Sass changelog}}

  * Update JRuby to 9.1.15.0

  []


* 3.5.0 Release Notes

  This release features Bourbon version 4.3.4 and Sass version 3.5.3 running on JRuby 9.1.13.0.

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A$3.5.0+is%3Aclosed}milestone 3.5.0}} and
  {{{${project.issueManagement.url}?q=milestone%3A$3.5-RC1+is%3Aclosed}milestone 3.5-RC1}}.

** New

  * Drop Compass support ({{{https://github.com/GeoDienstenCentrum/sass-maven-plugin/issues/77}#77}})

  []

** Enhancements and Fixes

  * Update Sass to version 3.5.3, please check
    the {{{http://sass-lang.com/documentation/file.SASS_CHANGELOG.html}Sass changelog}}

  * Update SCSS-Lint to version 0.56.0, please check
    the {{{https://github.com/brigade/scss-lint/blob/master/CHANGELOG.md}SCSS-Lint changelog}}

  * Update Bourbon to version 4.3.4, please check the
    {{{https://github.com/thoughtbot/bourbon/releases}Bourbon changelog}}

  * Update JRuby to 9.1.13.0

  []


* 3.5-RC1 Release Notes

  This release features Bourbon version 4.3.4 and Sass version 3.5.3 running on JRuby 9.1.13.0.

  A complete list of issues can be seen in the tracker
  {{{${project.issueManagement.url}?q=milestone%3A$3.5-RC1+is%3Aclosed}milestone 3.5-RC1}}.

  <<NOTE>> SCSS linting is currently broken, we are waiting for a <<<scss_lint>>> release that supports Sass 3.5.x,
  see {{{https://github.com/brigade/scss-lint/issues/877}scss-lint #877}}

** New

  * Drop Compass support ({{{https://github.com/GeoDienstenCentrum/sass-maven-plugin/issues/77}#77}})

  []

** Enhancements and Fixes

  * Update Sass to version 3.5.3, please check
    the {{{http://sass-lang.com/documentation/file.SASS_CHANGELOG.html}Sass changelog}}

  * Update SCSS-Lint to version 0.55.0, please check
    the {{{https://github.com/brigade/scss-lint/blob/master/CHANGELOG.md}SCSS-Lint changelog}}

  * Update Bourbon to version 4.3.4, please check the
    {{{https://github.com/thoughtbot/bourbon/releases}Bourbon changelog}}

  * Update JRuby to 9.1.13.0

  []


* Archives of old release notes

  There are more release notes (1.x and 2.x versions) in the {{{./oldreleasenotes.html}archive}}.
